body {
      margin: 0;
      font-family: 'Roboto', sans-serif;
      background-color: #fff;
      color: #000;
       font-family: "Orbitron", sans-serif;
       font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
      font-size: large; 
   
}

 header {
  background: #BF9F51;
  padding: 12px 0; 
  border: #000 3px solid;
}
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.logomark {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #3EC6E0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}
.site-sub {
  font-size: 12px;
  color: #000000;
}
.navlinks a {
  margin: 0 10px;
  color: #000000;
  text-decoration: none;
}
.navlinks a:hover {
  color: #080808;
}
.btn-ghost {
  border: 1px solid #000000;
  padding: 6px 12px;
  border-radius: 6px;
}

    nav a:hover {
      text-decoration: underline;
    }

    h1 {
      text-align: center;
      margin: 40px 0;
      font-size: 32px;
    }

  
    .news-container {
      width: 90%;
      max-width: 1200px;
      margin: auto;
    }

    .news-item {
      display: flex;
      align-items: center;
      margin-bottom: 50px;
      gap: 20px;
      background-color: rgba(255,255,255, 0.3);
      border-radius:  20px;
      padding: 2rem;
    }

    .news-item2 {
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        gap: 20px;
        flex-direction: row-reverse;
        background-color: rgba(255,255,255, 0.3);
        border-radius:  20px;
        padding: 2rem;
    }

    .news-item img {
      width: 250px;
      height: auto;
      border: 2px solid black;
      border-radius: 10px;
    }

    .news-item2 img {
      object-fit: cover;
      border: 3px solid black;
      border-radius: 10px;
    }

    .news-text {
      max-width: 700px;
    }

    .news-text h2 {
      font-size: 32px;
      margin-bottom: 10px;
    }

    .news-text p {
      font-size: 20px;
      font-weight: 500;
      line-height: 2;
    }
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  cursor: pointer;
  width: 250px;           
  max-width: 90%;
  text-align: center;
  opacity: 0;             
  transform: scale(0.9);  
  transition: all 0.4s ease; 
}
.popup-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.popup.show {
  opacity: 1;
  transform: scale(1);
}